.svgIcon {
    width: 105px;
    height: 140px;
    min-width: 105px;
    min-height: 140px;
  }
  
  @media (max-width: 1024px) {
    .svgIcon {
      width: 85px;
      height: 120px;
      min-width: 85px;
      min-height: 120px;
    }
  }
  
  @media (max-width: 768px) {
    .svgIcon {
      width: 65px;
      height: 100px;
      min-width: 65px;
      min-height: 100px;
    }
  }
  