.navbar {
  background: transparent;
  width: 100vw;
  height: 60px; /* Changed from 20% to a fixed pixel value */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.navbar-content {
  width: 98%;
  flex-direction: row;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-between;
}

.NavItem {
  width: 96%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

.NavItem2 {
  flex-direction: row;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.Name {
  flex-direction: row;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.Name1 {
  color: #000;
  font-family: InaiMathi;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
}

.Name2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: InaiMathi;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: auto;
  margin-bottom: auto;
}


